# "Copyright (c) 2019-present Lenovo
# Licensed under BSD-3, see COPYING.BSD file for details."

[Unit]
Description=FPGA fan control event to driven pwm to full speed
After=fpga.service

[Service]
Restart=always
RestartSec=5
StartLimitInterval=0
ExecStart=/bin/bash /usr/sbin/fpga_event.sh
Type=simple
ExecStopPost=/bin/bash /usr/sbin/initial_fanspeed.sh

[Install]
WantedBy=basic.target
