[Unit]
Description=OEM Sensor
StopWhenUnneeded=false
Requires=xyz.openbmc_project.EntityManager.service xyz.openbmc_project.Logging.IPMI.service phosphor-ipmi-host.service lenovo-pwr-sequence.service
After=xyz.openbmc_project.EntityManager.service logrotate.service xyz.openbmc_project.Logging.IPMI.service phosphor-ipmi-host.service lenovo-pwr-sequence.service

[Service]
Restart=always
RestartSec=5
StartLimitBurst=10
ExecStart=/usr/bin/oemsensor

[Install]
WantedBy=multi-user.target
