#"Copyright (c) 2019-present Lenovo
#Licensed under BSD-3, see COPYING.BSD file for details."

[Unit]
Description=Sys PSU Hard Reset
Requires=host-gpio.service
After=host-gpio.service

[Service]
RemainAfterExit=no
Type=oneshot
ExecStart=/usr/bin/env resetpsu.sh
SyslogIdentifier=resetpsu.sh

[Install]
WantedBy=gbmc-psu-hardreset.target
