# "Copyright (c) 2019-present Lenovo
# Licensed under BSD-3, see COPYING.BSD file for details."

[Unit]
Description=PVCCIN CPU3 PWR Alert Service
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=/usr/bin/env fm-pvccin-cpu3-pwr-in-alert-n.sh
SyslogIdentifier=fm-pvccin-cpu3-pwr-in-alert-n
