# Copyright (c) 2019-present Lenovo
# Licensed under BSD-3, see COPYING.BSD file for details.

[Unit]
Description=Lenovo ACPI State
Requires=logrotate.service fpga-recovery.service org.openbmc.control.Power@0.service phosphor-ipmi-host.service xyz.openbmc_project.oemsensor.service
After=logrotate.service fpga-recovery.service org.openbmc.control.Power@0.service phosphor-ipmi-host.service xyz.openbmc_project.oemsensor.service

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/sbin/acpi-state.sh
SyslogIdentifier=lenovo-acpi-state

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
