#"Copyright (c) 2019-present Lenovo
#Licensed under BSD-3, see COPYING.BSD file for details."

[Unit]
Description=lenovo fpga control service
Requires=fpga-recovery.service
Before=xyz.openbmc_project.cpusensor.service xyz.openbmc_project.fpgasensor.service
After=fpga-recovery.service


[Service]
Restart=always
ExecStart=/usr/bin/env fpga_control
SyslogIdentifier=fpga_control
Type=dbus
BusName=org.openbmc.control.fpga

[Install]
WantedBy=multi-user.target
