# Copyright (c) 2019-present Lenovo
# Licensed under BSD-3, see COPYING.BSD file for details.

[Unit]
Description=Lenovo Power Sequence Control
Requires=fpga-recovery.service
After=fpga-recovery.service

[Service]
ExecStart=/usr/sbin/pwr-seq
Type=oneshot

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
