[Unit]
Description=Read %I EEPROM
Wants=mapper-wait@-xyz-openbmc_project-inventory.service
Before=xyz.openbmc_project.cpusensor.service
After=mapper-wait@-xyz-openbmc_project-inventory.service
ConditionPathIsDirectory=!/var/lib/phosphor-inventory-manager/xyz/openbmc_project/inventory/%I

[Service]
Restart=no
Type=oneshot
EnvironmentFile={envfiledir}/obmc/eeproms/%I
ExecStart=/usr/bin/env phosphor-read-eeprom --eeprom $SYSFS_PATH --fruid $FRUID
SyslogIdentifier=phosphor-read-eeprom

[Install]
WantedBy=multi-user.target
