# "Copyright (c) 2019-present Lenovo
# Licensed under BSD-3, see COPYING.BSD file for details."

[Unit]
Description=CPU VR Alert Service
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=/usr/bin/env cpu-vr-bmc-alert-n.sh
SyslogIdentifier=cpu-vr-bmc-alert-n
