#"Copyright (c) 2019-present Lenovo
#Licensed under BSD-3, see COPYING.BSD file for details."

[Unit]
Description=Phosphor Fan Presence Tach Daemon
After=xyz.openbmc_project.Software.Version.service

[Service]
Restart=always
RestartSec=5
ExecStartPre=sleep 10
ExecStart=/usr/bin/env phosphor-fan-presence-tach
SyslogIdentifier=phosphor-fan-presence-tach

[Install]
WantedBy=multi-user.target
